version: "3.9"

services:
  control-plane:
    build:
      context: .
      dockerfile: docker/control-plane.dockerfile
    ports:
      - "8080:8080"

  origin:
    build:
      context: ./origin
      dockerfile: ../docker/origin.dockerfile
    ports:
      - "9000:9000"

  edge:
    build:
      context: ./edge
      dockerfile: ../docker/edge.dockerfile
    ports:
      - "9100:8080"
    environment:
      CONTROL_PLANE_URL: http://control-plane:8080
      ORIGIN_URL: http://origin:9000
    depends_on:
      - control-plane
      - origin
